@mixin animation($property) {
    -webkit-animation: $property;
    -moz-animation: $property;
    animation: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    transform: $property;
}