/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none !important; }

nav {
  font-family: "Poppins", sans-serif;
  z-index: 9999; }
  nav .navbar-nav li a {
    color: #ffffff !important; }

.caption h4 {
  color: #ffffff; }

.caption h1 {
  color: #ffffff;
  font-size: 4rem; }

.caption p {
  color: #ffffff; }

.fixed {
  top: -70px;
  margin-top: 70px;
  width: 100%;
  position: fixed !important;
  background: #d7242a;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: margin 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  transition: margin 0.6s ease 0s, transform 0.6s ease 0s; }

.count-particles {
  background: #000000;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

.header {
  background-image: url(../img/1.JPG);
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: 888;
  margin-top: -56px; }

.header:before {
  opacity: 0.5; }

.header:before {
  content: '';
  position: absolute;
  background: #000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.header-text {
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 10px 30px;
  height: 100px; }

.typed-cursor {
  opacity: 1;
  padding: 10px 2px;
  background: #ffffff;
  margin: 10px;
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite; }

.scoial-icon i {
  color: #ffffff;
  padding: 0px 22px; }

#home-svg {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 3; }
  #home-svg .p-curve {
    fill: #ffffff; }

.arrow {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  z-index: 11;
  padding-left: 238px; }

.arrow a {
  color: #ffffff; }

.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

.preloader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #d7242a;
  z-index: 11111; }

#pulsar {
  stroke-dasharray: 420;
  -webkit-animation: dash 3s infinite linear forwards;
  -moz-animation: dash 3s infinite linear forwards;
  animation: dash 3s infinite linear forwards; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814; }
  to {
    stroke-dashoffset: -814; } }

@keyframes dash {
  from {
    stroke-dashoffset: 814; }
  to {
    stroke-dashoffset: -814; } }

.preloader svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.loaded.preloader {
  opacity: 0;
  transition: 1.1s ease;
  z-index: -1; }

.jumbotron {
  background: transparent !important; }
  .jumbotron h3 {
    margin: 40px 0px 20px; }
  .jumbotron p span {
    font-weight: bold;
    color: #6d6b6b; }

.personal-desc {
  column-count: 2;
  padding: 25px 0px;
  border-top: 1px solid #ddd;
  margin-top: 30px; }
  .personal-desc li {
    list-style: none; }

.scoial-icon a:nth-child(1) i:hover {
  color: #3b5998; }

.scoial-icon a:nth-child(2) i:hover {
  color: #1da1f2; }

.scoial-icon a:nth-child(3) i:hover {
  color: #0077b5; }

.scoial-icon a:nth-child(4) i:hover {
  color: #fd1d1d; }

h2.cont-title {
  margin: 30px 0px 50px;
  position: relative;
  color: #D7242A; }

h2.cont-title:before {
  content: '';
  position: absolute;
  border-bottom: 3px solid #D7242A;
  width: 100px;
  display: block;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%); }

.hover {
  float: left;
  position: relative;
  cursor: default; }

.hover .overlay {
  position: absolute;
  top: 0;
  left: 0; }

.hover img {
  display: block;
  position: relative; }

.hover h2 {
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6); }

.hover button.info {
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0;
  border-radius: 0;
  background-color: transparent; }

.hover button.info:hover {
  box-shadow: 0 0 5px #fff; }

.ehover5 button.info:hover,
.hover button.nullbutton:hover {
  box-shadow: none; }

.hover button.nullbutton {
  border: none;
  padding: 0;
  margin: 0; }

.ehover4 button.info,
.ehover42 button.info {
  margin: -55px 0 0;
  padding: 73px 90px;
  font-weight: 400;
  border: 1px solid #fff; }

.modal-open .modal,
button:focus {
  outline: 0 !important; }

.point {
  cursor: pointer; }

.ehover11 {
  background: -webkit-linear-gradient(45deg, #000000 0, #000000 100%);
  background: linear-gradient(45deg, #000000 0, #000000 100%); }

.ehover11 img {
  max-width: none;
  width: calc(100% + 60px);
  transition: opacity .35s, transform .45s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

.ehover11 .overlay {
  padding: 2.5em;
  text-align: left; }

.ehover11 h2 {
  background-color: transparent;
  padding: 10% 0 10px;
  text-align: left; }

.ehover11 button.info {
  color: #FFF;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-transition: opacity .35s, -webkit-transform .45s;
  transition: opacity .35s, transform .45s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.ehover11:hover img {
  opacity: .4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.ehover11:hover .overlay:before,
.ehover11:hover button.info {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: left; }

.ehover11 .overlay::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  opacity: 0;
  transition: opacity .35s, transform .45s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0); }

.hover, .hover .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.hover button.info, .hover h2 {
  text-transform: uppercase;
  color: #fff; }

table tr:last-child th, table tr:last-child td {
  border-bottom: 1px solid #dee2e6; }

.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 23px;
  position: relative;
  background-color: #EEE;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1); }

.proggress {
  height: 8px;
  width: 10px;
  background-color: #3498db; }

.percentCount {
  float: right;
  margin-top: -30px;
  clear: both;
  font-weight: bold; }

table tr:hover {
  background: #adadad;
  color: #ffffff;
  transition: all 0.2s ease-in-out; }

/*form-validation*/
label {
  color: black;
  position: relative; }

form {
  width: 100%;
  margin: 0 auto; }

input, textarea {
  position: relative;
  padding: 10px !important;
  width: 100%;
  color: #8e8e8e;
  border: 0px;
  border-bottom: 2px solid #888; }

textarea {
  height: 150px;
  resize: none; }

input:focus, textarea:focus, input:hover, textarea:hover {
  outline: none;
  border-bottom: 2px solid #007bff;
  color: #007bff;
  transition: all 0.3s ease-in-out; }

#contact-form span.required {
  color: #11ABB0;
  font-size: 13px;
  margin-left: 5px; }

form input.error::-webkit-input-placeholder, form input.error::-webkit-input-placeholder, form textarea.error::-webkit-input-placeholder, form textarea.error::-webkit-input-placeholder {
  color: #F44336; }

#contact-form .contact-form label.error {
  display: none !important; }

form#cont_form label.error {
  display: none !important; }

.bg-setinfg.contact-form.row label.error {
  display: none !important; }

.input-holder:after {
  content: "";
  display: block;
  clear: both; }

#cont_form #before {
  background-color: #26abe2;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-align: center;
  z-index: 10000;
  position: absolute; }

#cont_form #before .before-success {
  text-align: center;
  position: relative; }

#cont_form #before .before-success img {
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-top: 29%; }

#cont_form #before p {
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-top: 15px;
  font-weight: 600; }

#cont_form #success {
  background-color: #4caf50;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-align: center;
  z-index: 10000;
  position: absolute; }

#cont_form #success .before-success {
  text-align: center;
  position: relative; }

#cont_form #success .before-success img {
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-top: 29%; }

#cont_form #success h3 {
  color: #fff;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding-top: 15px;
  margin-bottom: 0px; }

#cont_form #success p {
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-top: 5px; }

#cont_form #errormsg {
  background-color: #ef5350;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-align: center;
  z-index: 10000;
  position: absolute; }

#cont_form #errormsg .before-success {
  text-align: center;
  position: relative; }

#cont_form #errormsg .before-success img {
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-top: 29%; }

#cont_form #errormsg p {
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-top: 15px;
  font-weight: 600; }

footer {
  background: #4c4c4c;
  padding: 22px 0px;
  color: #ffffff; }

footer p {
  margin: 0px; }

@media only screen and (max-width: 768px) {
  .navbar {
    background: #d7242a; }
  img.w-75.img-sm {
    width: 100% !important; }
  section.p-5, section.pl-5, section.pr-5, section.pt-5 {
    padding: 1rem !important; }
  .table-responsive {
    margin-bottom: 40px; } }

@media only screen and (max-width: 480px) {
  .header {
    background-position: right; }
  .arrow {
    padding-left: 90px; }
  .caption h1 {
    font-size: 2rem; }
  .header-text {
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px 30px;
    height: 70px; } }
